<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteRule ^home                                 index.php?c=homeController [L]

    RewriteRule ^dashboard                            index.php?c=dashBoardController [L]


    RewriteRule ^signin                               index.php?c=loginController&operation=signIn [L]
    RewriteRule ^signup                               index.php?c=loginController&operation=signUp [L]
    RewriteRule ^logout                               index.php?c=loginController&operation=logOut [L]

    RewriteRule ^tastings/user/(.*)/(.*)$             index.php?c=tastingController&operation=getUserTastings&userId=$1&page=$2 [L]

    RewriteRule ^tastings/user/(.*)$                  index.php?c=tastingController&operation=getUserTastings&userId=$1 [L]

    RewriteRule ^tastings/visitor/(.*)$               index.php?c=tastingController&operation=getAllTastings&mode=visitor&page=$1 [L]

    RewriteRule ^tastings/visitor                     index.php?c=tastingController&operation=getAllTastings&mode=visitor [L]
    
    RewriteRule ^tastings/(.*)$                       index.php?c=tastingController&operation=getAllTastings&page=$1 [L]
    
    
    RewriteRule ^tastings                             index.php?c=tastingController&operation=getAllTastings [L]

    RewriteRule ^tasting/(.*)$                        index.php?c=tastingController&operation=getTastingById&id=$1 [L]



    RewriteRule ^tastings                             index.php?c=tastingController&operation=getAllTastings [L]

    RewriteRule ^$                    index.php?c=homeController [L]
</IfModule>



SetEnv host localhost
SetEnv user root
SetEnv password 
SetEnv database beer_tasting_app




